{% import "bootstrap/utils.html" as utils%}
<div class="panel panel-default">
    <div class="panel-heading">Recent Licensee Event Reports</div>
    <!-- LER Table -->
    <table class="table">
        <thead>
            <tr>
                <th>LER Number</th>
                <th>Facility</th>
                <th>Title</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% if lers|length > 0 %}
            {% for ler in lers %}
            <tr>
                <th scope="row"><a href="{{ url_for('main.ler', lernum=ler.ler_number) }}">{{ ler.ler_number }}</a></th>
                <td>{{ ler.facilities.first().facility_name }}</td>
                <td>{{ ler.title }}</td>
                {% if not ler.approved %}
                <td class="text-center" style="padding-left: 0; padding-right: 0;">{{ utils.form_button(url_for('main.edit_ler', lernum=ler.ler_number), utils.icon('pencil')) }}</td>
                <td class="text-center" style="padding-left: 0; padding-right: 0;">{{ utils.form_button(url_for('main.delete_ler', lernum=ler.ler_number), utils.icon('trash')) }}</td>
                <td class="text-center" style="padding-left: 0; padding-right: 0;">{{ utils.form_button(url_for('main.create_ler'), utils.icon('plus')) }}</td>
                {% elif current_user.can(Permission.ADMINISTER) %}
                <td>{{ utils.form_button(url_for('main.unapprove_ler', lernum=ler.ler_number), utils.icon('pencil')) }}</td>
                {% endif %}
            </tr>
            {%  endfor %}
        {% else %}
        <tr>
            <td>NO LERS</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>