{% extends "base.html" %}
{% set active_page = "create-ler" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils%}
{% block title %}NRC Events Reporting - Create LER{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.7.0/chosen.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">

<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.7.0/chosen.min.css.map">-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>Create New LER</h1>
 </div>
<div>
    {% if current_user.can(Permission.WRITE) %}
    <form id="ler-data" role="form" class="form-horizontal" method="POST" action="#">
        {{ form.csrf_token }}
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#1" data-toggle="tab">General Information</a>
                </li>
                <li>
                    <a href="#2" data-toggle="tab">Components</a>
                </li>
                <li>
                    <a href="#3" data-toggle="tab">Abstract</a>
                </li>
                <li>
                    <a href="#4" data-toggle="tab">LER Text</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="1">
                    <div class="container">
                        <div class="form-group required">
                            {{ form.facilities.label(class_='control-label') }}
                            {{ form.facilities(class_='form-control multiple-select') }}
                        </div>
                        <div class="form-group required">
                            {{ form.title.label(class_='control-label') }}
                            {{ form.title(class='form-control', required=True) }}
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group required">
                                    {{ form.event_date.label(class_='control-label') }}
                                    {{ form.event_date(class='form-control', required=True) }}
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <div class="form-group required">
                                    {{ form.operating_mode.label(class_='control-label') }}
                                    {{ form.operating_mode(class='form-control', required=True) }}
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <div class="form-group required">
                                    {{ form.power_level.label(class_='control-label') }}
                                    {{ form.power_level(class='form-control', required=True) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group required">
                            {{ form.cfrs.label(class_='control-label') }}
                            {{ form.cfrs(class='form-control multiple-select', required=True) }}
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-inline">
                                    {{ form.supplement_expected.label(class='control-label') }}&nbsp
                                    {{ form.supplement_expected(class='checkbox') }}
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group form-inline">
                                    {{ form.supplement_date.label(class='control-label') }}&nbsp
                                    {{ form.supplement_date(class='form-control') }}
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <ul class="pagination">
                                <li class="pull-right">
                                    <a class="btn btnNext">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="2">
                    <div class="container">
                        <div data-toggle="fieldset" id="component-fieldset" class="form-group panel panel-default">
                            <div class="panel-heading">
                                {{ form.components.label }}
                                <button class="pull-right btn-link" type="button" data-toggle="fieldset-add-row" data-target="#component-fieldset"><i class="glyphicon glyphicon-plus"></i> Add a component</button>
                            </div>
                            <table class="table">
                                <thead>
                                <th class="text-center">System</th>
                                <th class="text-center">Component Type</th>
                                <th class="text-center">Manufacturer</th>
                                <th class="text-center">Failure Cause</th>
                                <th class="text-center">ICES Device ID</th>
                                <th class="text-center">Reportable to ICES</th>
                                <th></th>
                                </thead>
                                <tbody>
                                {% for component in form.components%}
                                    <tr data-toggle="fieldset-entry">
                                        <td>{{ component.system(class='form-control simple-select') }}</td>
                                        <td>{{ component.component_type(class='form-control simple-select') }}</td>
                                        <td>{{ component.manufacturer(class='form-control simple-select') }}</td>
                                        <td>{{ component.cause(class='form-control simple-select') }}</td>
                                        <td>{{ component.inpo_device_id(class='form-control') }}</td>
                                        <td>{{ component.reportable_ices(class='form-control') }}</td>
                                        <td><button class="pull-right btn-link" type="button" data-toggle="fieldset-remove-row" id="component-{{loop.index0}}-remove"><i class="glyphicon glyphicon-remove"></i></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <ul class="pagination">
                                <li class="pull-left">
                                    <a class="btn btnPrevious"><i class="fa fa-arrow-left" aria-hidden="true"></i> Previous</a>
                                </li>
                                <li class="pull-right">
                                    <a class="btn btnNext">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="3">
                    <div class="container">
                        <div class="form-group required">
                            {{ form.abstract.label(class_='control-label') }}
                            {{ form.abstract(class='form-control', required=True, rows="15") }}
                        </div>
                        <div class="text-center">
                            <ul class="pagination">
                                <li class="pull-left">
                                    <a class="btn btnPrevious"><i class="fa fa-arrow-left" aria-hidden="true"></i> Previous</a>
                                </li>
                                <li class="pull-right">
                                    <a class="btn btnNext">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="4">
                    <div class="container">
                        <div class="form-group required">
                            {{ form.body.label(class_='control-label') }}
                            {{ form.body }}
                        </div>
                        <div class="text-center">
                            <ul class="pagination">
                                <li class="pull-left">
                                    <a class="btn btnPrevious"><i class="fa fa-arrow-left" aria-hidden="true"></i> Previous</a>
                                </li>
                            </ul>
                        </div>
                        {{ form.submit(class='btn btn-success pull-right') }}
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.7.0/chosen.jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="//cdn.ckeditor.com/4.7.0/standard/ckeditor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dynamicform.js') }}"></script>
{{ pagedown.include_pagedown() }}
{% endblock %}
<i></i>
