{% extends "base.html" %}
{% set active_page = "ler" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}NRC Events Reporting - LER {{ ler.ler_number }}{% endblock %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>{% for fac_name in ler.facilities %}{{ fac_name.facility_name }}<br/>{% endfor %}LER {{ ler.ler_number }}</h1>
 </div>
<div>
    <p>Docket Numbers: {% for fac_name in ler.facilities %}{{ fac_name.docket }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
    <h3>Title: <span>{{ ler.title }}</span></h3>
    <h4>Event Date: <span>{{ moment(ler.event_date, 'YYYY-MM-DD').format('L') }}</span></h4>
    <h4>Report Date: <span>{{ moment(ler.report_date, 'YYYY-MM-DD').format('L') }}</span></h4>
    <h4>Operating Mode: <span>{{ ler.operating_mode }}</span></h4>
    <h4>Power Level: <span>{{ ler.power_level }}%</span></h4>
    <h4>Reported pursuant to: </h4>
    <ul>
        {% for cfr in ler.cfrs %}<li>{{ cfr.cfr }}</li>{% endfor %}
    </ul>
    <h4>Author: <span>{{ ler.author.first_name }} {{ ler.author.last_name }}</span></h4>
    <h4>Component Failures: </h4>
    <table class="table">
        <thead>
            <tr>
                <th>INPO Device ID</th>
                <th>Cause</th>
                <th>System</th>
                <th>Component</th>
                <th>Manufacturer</th>
                <th>Reportable to ICES</th>
            </tr>
        </thead>
        <tbody>
            {% for comp in ler.components %}
            <tr>
                <th scope="row">{{ comp.component.inpo_device_id }}</th>
                <td>{{ comp.componentcause.cause_name }}</td>
                <td>{{ comp.component.system.name }}</td>
                <td>{{ comp.component.eiiscomponenttype.name }}</td>
                <td>{{ comp.component.manufacturer.name }}</td>
                <td>{% if comp.reportable_ices %}YES{% else %}NO{% endif %}</td>
            </tr>
            {%  endfor %}
        </tbody>
    </table>
    <h4>Supplement Expected: <b>{% if ler.supplement_expected %}YES{% else %}NO{% endif %}</b></h4>
    {% if ler.supplement_expected %}
    <h4>Supplement Expected Submission Date: {{ moment(ler.supplement_date, 'YYYY-MM-DD').format('L') }}</h4>
    {% endif %}
    <h4>Abstract: </h4>
    <p>{{ ler.abstract }}</p>
    <h4>Text: </h4>
    <div class="ler-body">
        {% if ler.body_html %}
            {{ ler.body_html | safe }}
        {% else %}
            {{ ler.body }}
        {% endif %}
    </div>
</div>
{% if not ler.approved %}
<div class="ler-footer">
    {% if current_user == ler.author %}
    <a href="{{ url_for('.edit_ler', lernum=ler.ler_number) }}"><span class="label label-primary">Edit this LER</span></a>
    {% elif current_user.is_administrator()  %}
    <a href="{{ url_for('.edit_ler', lernum=ler.ler_number) }}"><span class="label label-danger">Edit this LER [Admin]</span></a>
    {% endif %}
</div>
{% endif %}
{% endblock %}