{% extends "base.html" %}
{% set active_page = "ler-list" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}NRC Events Reporting - LER List{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>Finalized LER List</h1>
 </div>
{% if current_user.can(Permission.READ) %}
<div class="lers-tab">
    {% include '_lers.html' %}

</div>
<div class="pagination">
        {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}